.table {
  border-collapse: collapse;
  width: 500px;
}

.table th,
.table td {
  padding: 0.5rem 1rem;
  border: 1px solid #eaeaea;
}

.table th {
  text-align: left;
}

.table td {
  text-align: right;
}
.table td:first-of-type {
  text-align: left;
}

.total,
.rate {
  color: #888;
}
.rate td:nth-child(2) {
  color: #f88;
  font-weight: bold;
}

@media (prefers-color-scheme: dark) {
  .table th,
  .table td {
    border-color: #222;
  }
}